.pagination {
    left: 50%;
    transform: translateX(-50%);
    gap: 5px;
    position: fixed;
    width: auto;
    margin: 0 auto;
    bottom: 20px;
    z-index: 7;
    background: var(--color-bg);
    color: var(--color-text);
    padding: 5px;
    border-radius: 10px;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.btn {
    background: var(--color-bg);
    color: var(--color-text);
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.active {
    color: var(--color-active)
}